<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
	<title>阿拉丁神灯产品介绍</title>   
    <link href="resources/ald/css/reset.css" th:href="@{/resources/ald/css/reset.css}" rel="stylesheet">
    <link href="resources/ald/css/default.css" th:href="@{/resources/ald/css/default.css}"  rel="stylesheet">
    <link href="resources/ald/css/style.css" th:href="@{/resources/ald/css/style.css}"  rel="stylesheet">
</head>
<body>
	<main class="cd-main">
		<ul class="cd-gallery">
			<li class="cd-item" style="height:200px;">
					<div>
						<p style="width:46%;padding-top: 60px;"><img src="./img/logo.png"  th:src="@{/resources/ald/img/logo.png}" ></p>
					</div>
			</li>
			<li class="cd-item">
					<div class="cd" data="1">
						<p style="width:45%;margin-left:25%;"><img src="./img/sa_1.png" th:src="@{/resources/ald/img/sa_1.png}"></p>
						<b>母婴夜灯</b>
					</div>
			</li>
			<li class="cd-item">
					<div class="cd" data="2">
						<p><img src="./img/sa_2.png" th:src="@{/resources/ald/img/sa_2.png}"></p>
						<b>智能可调节颜色</b>
					</div>
			</li>
			<li class="cd-item">
					<div class="cd" data="3">
						<p style="width:42%;"><img src="./img/sa_3.png" th:src="@{/resources/ald/img/sa_3.png}"></p>
						<b>声音控制</b>
					</div>
			</li>
			<li class="cd-item">
					<div class="cd" data="4">
						<p style="width:42%;"><img src="./img/sa_4.png"  th:src="@{/resources/ald/img/sa_4.png}"></p>
						<b>丰富的儿歌/故事</b>
					</div>
			</li>
			<li class="cd-item">
					<div class="cd" data="5">
						<p style="width:40%;margin-left: 30%;"><img src="./img/sa_5.png" th:src="@{/resources/ald/img/sa_5.png}"></p>
						<b>陪伴对话</b>
					</div>
			</li>
			<li class="cd-item">
					<div class="cd" data="6">
						<p><img src="./img/sa_6.png" th:src="@{/resources/ald/img/sa_6.png}"></p>
						<b>云端数据控制</b>
					</div>
			</li>
		</ul> <!-- .cd-gallery -->
		
	</main> <!-- .cd-main -->


	<div class="cd-folding-panel">
		
		<div class="fold-left"></div> <!-- this is the left fold -->
		
		<div class="fold-right"></div> <!-- this is the right fold -->
		
		
		<div class="cd-fold-content" id="Cd_1">
		<p><img src="./img/pg_1.jpg" th:src="@{/resources/ald/img/pg_1.jpg}"  style="width:100%;padding-top:7px;"></p>
		<h2>母婴夜灯</h2>
		<i></i>
		<p>&#12288;柔和护眼，为夜间妈妈起夜喂奶提供帮助；光线柔对宝宝眼睛无刺激；外观设计可爱且实用，可放置在床头或者床上</p>

		<p>
		&#12288; 驱走黑暗，给母婴提供家的温暖；为房间营造更加温馨的氛围；
		</p>
		</div>
		
		<div class="cd-fold-content" id="Cd_2" style="padding-top:34px;">
		<h2>智能可调颜色</h2>
		<i></i>
		<p><img src="./img/pg_2.jpg" th:src="@{/resources/ald/img/pg_2.jpg}"  style="width: 100%; margin: 0px auto;display: block;padding-top: 10px;padding-bottom: 10px;"></p>
		<p>&#12288; 产品可通过手机端的颜色调节功能，像调节颜色画板一样拖动选择按钮，选择颜色板中任何一种颜色的灯光；</p>
		<p>&#12288; 极大满足了每个用户对各自喜欢颜色的需求，实现自定义的操作；</p>
		</div>
		
		<div class="cd-fold-content" id="Cd_3" style="padding-top:34px;">		
		<p><img src="./img/pg_3.jpg"  th:src="@{/resources/ald/img/pg_3.jpg}" style="width:100%;padding-top:7px;"></p>
		<h2>声音控制</h2>
		<i></i>
		<p>&#12288;除了产品硬件上的物理开关外，还提供了用户通过声音“开灯”、“关灯”、“调亮”等指令对产品进行控制；</p>
		<p>&#12288;在一些特殊情况不方便用手操作的情况下，提供用户声控的方式</p>
		</div>
		
		<div class="cd-fold-content" id="Cd_4" style="padding-top:34px;">
		<h2>丰富的儿歌／故事</h2>
		<i></i>
		<p><img src="./img/pg_4.jpg" th:src="@{/resources/ald/img/pg_4.jpg}" style="width:100%"></p>
		<p>&#12288; 通过互联网联网技术，将产品与云端服务相连，云端服务会定期更新最新的儿童音乐歌曲（咪咕音乐）及儿童教育相关的有声读完（咪咕阅读），用户可以通过产品对应的手机APP便捷的搜索及获得相应的播放内容；
		</p>
		<p>
		&#12288; 满足了婴幼儿早期音乐细胞培养及学说话的语音内容，属于学前早期教育范围；也极大降低了家长为孩子亲自讲故事的时间成本。
		</p>
		</div>
		
		<div class="cd-fold-content" id="Cd_5" style="padding-top:34px;">
		<h2>陪伴对话</h2>
		<i></i>
		<p><img src="./img/pg_5.jpg" th:src="@{/resources/ald/img/pg_5.jpg}" style="width:100%;"></p>
		<p>&#12288; 对于幼儿儿童来说，对话聊天的练习是很有必要的，可以帮助开发孩子的语言能力和快速理解掌握语言技巧；同时，这个时期的儿童对于外界是充满了好奇，经常会询问大人各种为什么？</p>
		
		<p>
		&#12288; 而这些对于很多家长来说，可能因为工作的繁忙和时间不够，无法满足孩子的这种陪伴聊天的需求；因此，本产品提供了基本的陪伴对话聊天的功能，同时也还将围绕儿童的对话习惯场景采用人工智能的方式提供更加专属的对话体验。
		如：产品会收录各种十万个为什么的题目和解答，快速解答孩子的疑问满足其好奇心。
		</p>		
		</div>
		
		<div class="cd-fold-content" id="Cd_6" style="padding-top:34px;">
		<h2>云端数据控制</h2>
		<i></i>
		<p><img src="./img/sa_6.png" th:src="@{/resources/ald/img/sa_6.png}" style="width:37%;padding-top: 15px;padding-bottom: 15px;"></p>
		<p>&#12288;用户通过绑定手机号激活产品，产品的使用数据及用户账户信息都会已安全的形式在云端进行存储，并提供用户的使用记录的说明查询。</p>		
		<p>&#12288;产品也将采用云端发布的形式对产品内容进行迭代丰富；对新增的功能操作进行更新发布；用户可以快捷无感知的体验新的功能</p>		
		</div>
		<a class="cd-close"></a>
	</div> <!-- .cd-folding-panel -->
		
	<script src="/resources/ald/js/jquery-2.1.1.js" th:src="@{/resources/ald/js/jquery-2.1.1.js}"></script>
    <script src="/resources/ald/js/main.js" th:src="@{/resources/ald/js/main.js}"></script>
	

</body></html>