<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"/>
<title>我的订单</title>
<link href="../../../../../resources/mobile/css/bootstrap.min.css" th:href="@{/resources/mobile/css/bootstrap.min.css}"  rel="stylesheet"/>
<link href="../../../../../resources/mobile/css/app.css" th:href="@{/resources/mobile/css/app.css}"  rel="stylesheet"/>
<script src="../../../../../resources/mobile/js/jquery.min.js" th:src="@{/resources/mobile/js/jquery.min.js}" ></script>
<script src="../../../../../resources/mobile/js/bootstrap.min.js" th:src="@{/resources/mobile/js/bootstrap.min.js}" ></script>
<script type="text/javascript" src="../../../../../resources/mobile/js/iscroll.js" th:src="@{/resources/mobile/js/iscroll.js}"></script>
<script type="text/javascript" src="../../../../../resources/mobile/js/bdmap.js" th:src="@{/resources/mobile/js/bdmap.js}"></script>
<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/
var dbmapUrl=[[@{'/site/mobile/web/'+${siteCode}+'/bdnav/map'}]]
var myScroll;
function loaded () {myScroll = new IScroll('#wrapper', { mouseWheel: true,click:true });}
document.addEventListener('touchmove', function (e) { e.preventDefault(); }, false);
/*]]>*/
</script>
</head>

<body onload="loaded()">
<!-- <div id="header">标题</div> -->

<div class="userpage" id="wrapper">
	<div id="scroller">
	<!-- 开始主体内容 -->
	  <div class="olist" th:each="instance:${orderList}">
	    <span class="odate" th:text="${#dates.format(instance.orderBase.orderTime,'yyyy-MM-dd hh:mm')}">12月20日 周日</span>
	    <ul class="list-group">
	         <li class="list-group-item lit">
	          <h3 class="list-group-item-heading" th:text="${instance.hotel.name}">别想那只大象客栈</h3>
	          <a href="#" class="list_icon"><span th:text="${instance.orderBase.status.label}"  style="padding-left:2px;font-size:16px;color:red;"></span></a>
	        </li>
	        <li class="list-group-item">
	          <h5 class="list-group-item-heading">订单编号：<span th:text="${instance.orderBase.orderCode}" style="padding-left:2px;color:#333">Nbs10000293939</span></h5>
	          <a th:href="@{/site/mobile/member/center/orderDetail(orderId=${instance.orderBase.id})}" class="list_icon" style="font-size:16px;">订单详情</a>
	        </li>
	        <li class="list-group-item">
	          <h5 class="list-group-item-heading">订单总价：￥<span th:text="${instance.orderBase.totalPrice}" style="padding-left:2px;color:#333">200</span></h5>
	          <a href="#" class="list_icon"  style="font-size:16px;" th:text="${instance.orderBase.payStatus.label}">支付成功</a>
	        </li>
	        <li class="list-group-item">
	          <h5 class="list-group-item-heading">支付方式：<span th:text="${DictionaryUtil.getOptionName(instance.orderBase.payType).name}" style="padding-left:2px;color:#333"></span></h5>
	        </li>
	        <li class="list-group-item">
	          <h5 class="list-group-item-heading">入住时间：<span th:text="${instance.orderBase.planCheckinTime}" style="padding-left:2px;color:#333">2015/12/20(周日)</span></h5>
	        </li>
	        <li class="list-group-item">
	          <h5 class="list-group-item-heading">离店时间：<span th:text="${instance.orderBase.planCheckoutTime}" style="padding-left:2px;color:#333">2015/12/20(周日)</span></h5>
	        </li>
	        <li class="list-group-item">
		       <h5 class="list-group-item-heading">商家电话：<span th:text="${instance.hotel.telphone}" style="padding-left:2px;color:#333">1389989898</span></h5>
		       <a href="#" th:href="@{'tel:'+${instance.hotel.telphone}}" class="list_icon" style="font-size:16px;"><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>拨号</a>
	        </li>
	        <li class="list-group-item lib">
	           <h5 class="list-group-item-heading">商家地址：<span th:text="${instance.hotel.address}" style="padding-left:2px;color:#333">大理双廊</span></h5>
	        	<a href="#" th:href="@{'javascript:showListHotelBDMap('+${instance.hotel.id}+')'}" class="list_icon" style="font-size:16px;"><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>导航</a>
	        </li>
	    </ul>
	  </div>
	</div>
</div>

<div id="footer" th:include="site/mobile/web/fragment/navFragment :: navTab(2)">
		<div class="btn-group btn-group-justified" role="group">
			<div class="btn-group" role="group">
				<a href="index.html" type="button" class="btn btn-default"> <i
					class="glyphicon glyphicon-home"></i> <br/>主页
				</a>
			</div>
			<div class="btn-group" role="group">
				<a href="zb.html" type="button" class="btn btn-default"> <i
					class="glyphicon glyphicon-map-marker"></i> <br/>周边
				</a>
			</div>
			<div class="btn-group" role="group">
				<a href="my.html" type="button" class="btn btn-default"> <i
					class="glyphicon glyphicon-user"></i> <br/>我的
				</a>
			</div>
		</div>
</div>

</body>
</html>