<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8" />
		<title>会员管理---查看</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- basic styles -->
		<link th:href="@{/resources/bootstrap-3.3.2/css/bootstrap.min.css}" rel="stylesheet" />
		<link th:href="@{/resources/font-awesome/3.2.1/css/font-awesome.min.css}" rel="stylesheet" />
		<link th:href="@{/resources/font-awesome/4.2.0/css/font-awesome.min.css}" rel="stylesheet" />
		<!-- page specific plugin styles -->
		<link th:href="@{/resources/ace/css/ace.min.css}" rel="stylesheet" />
		<link th:href="@{/resources/jsoil/css/wiwi-jsoil.css}" rel="stylesheet" />
	</head>

	<body style="background-color: white;">
		<!-- PAGE CONTENT BEGINS -->
		<div class="row page-content">
			<div class="col-xs-12 tabbable">
				<div class="tab-content">
					<div class="tab-pane in active">
						<form action="#" class="form-horizontal" role="form">
							<input type="hidden"  th:field="${instance.id}"/>
							<div class='form-group'>
								<label class='col-sm-3 control-label no-padding-right'> id </label>
								<div class='col-sm-9'>
									<input type='text' th:field='${instance.id}' placeholder='id' class='col-xs-10 col-sm-5' />
								</div>
							</div>
							<div class='form-group'>
								<label class='col-sm-3 control-label no-padding-right'> 电话 </label>
								<div class='col-sm-9'>
									<input type='text' th:field='${instance.telphone}' placeholder='电话' class='col-xs-10 col-sm-5' />
								</div>
							</div>
							<div class='form-group'>
								<label class='col-sm-3 control-label no-padding-right'> 密码 </label>
								<div class='col-sm-9'>
									<input type='text' th:field='${instance.password}' placeholder='密码' class='col-xs-10 col-sm-5' />
								</div>
							</div>
							<div class='form-group'>
								<label class='col-sm-3 control-label no-padding-right'> 姓名 </label>
								<div class='col-sm-9'>
									<input type='text' th:field='${instance.name}' placeholder='姓名' class='col-xs-10 col-sm-5' />
								</div>
							</div>
							<div class='form-group'>
								<label class='col-sm-3 control-label no-padding-right'> 昵称 </label>
								<div class='col-sm-9'>
									<input type='text' th:field='${instance.nickName}' placeholder='昵称' class='col-xs-10 col-sm-5' />
								</div>
							</div>
							<div class='form-group'>
								<label class='col-sm-3 control-label no-padding-right'> 性别 </label>
								<div class='col-sm-9'>
									<input type='text' th:field='${instance.gender}' placeholder='性别' class='col-xs-10 col-sm-5' />
								</div>
							</div>
							<div class='form-group'>
								<label class='col-sm-3 control-label no-padding-right'> 注册时间 </label>
								<div class='col-sm-9'>
									<input type='text' th:field='${instance.registerTime}' placeholder='注册时间' class='col-xs-10 col-sm-5' />
								</div>
							</div>
							<div class='form-group'>
								<label class='col-sm-3 control-label no-padding-right'> 可用积分 </label>
								<div class='col-sm-9'>
									<input type='text' th:field='${instance.credits}' placeholder='可用积分' class='col-xs-10 col-sm-5' />
								</div>
							</div>
							<div class='form-group'>
								<label class='col-sm-3 control-label no-padding-right'> 登录时间 </label>
								<div class='col-sm-9'>
									<input type='text' th:field='${instance.lastLoginTime}' placeholder='登录时间' class='col-xs-10 col-sm-5' />
								</div>
							</div>
							<div class='form-group'>
								<label class='col-sm-3 control-label no-padding-right'> 头像 </label>
								<div class='col-sm-9'>
									<input type='text' th:field='${instance.logoId}' placeholder='头像' class='col-xs-10 col-sm-5' />
								</div>
							</div>
							<div class='form-group'>
								<label class='col-sm-3 control-label no-padding-right'> 状态 </label>
								<div class='col-sm-9'>
									<input type='text' th:field='${instance.status}' placeholder='状态' class='col-xs-10 col-sm-5' />
								</div>
							</div>
							<div class='form-group'>
								<label class='col-sm-3 control-label no-padding-right'> 头像图片id </label>
								<div class='col-sm-9'>
									<input type='text' th:field='${instance.imageId}' placeholder='头像图片id' class='col-xs-10 col-sm-5' />
								</div>
							</div>
							
							<div class="clearfix form-actions">
								<div class="col-md-offset-3 col-md-9">
									<a th:href="@{/member/manager/list.do}" class="btn btn-prev">
										<i class="icon-arrow-left"></i>
										返回
									</a>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div><!-- /.col -->
		</div><!-- /.row -->
	
		<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
			<i class="icon-double-angle-up icon-only bigger-110"></i>
		</a>
	</body>
</html>
