<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
		<meta name="keywords" content="">
		<meta name="description" content="">
		<title>灯光模式-阿拉丁神灯</title>
		<link href="resources/ald/css/weui.css" th:href="@{/resources/ald/css/weui.css}"  rel="stylesheet">
	    <link href="resources/ald/font/iconfont.css" th:href="@{/resources/ald/font/iconfont.css}"  rel="stylesheet">
        <link href="resources/ald/css/style.css?v=14645" th:href="@{/resources/ald/css/style.css?v=14645}" rel="stylesheet">

	</head>
	<style>
		.weui-slider__track {
			background-color: #FD9E44;
		}
		
		.light_deg {
			padding: 50px 3%;
		}
	</style>

	<body>
		<header>
			<div class="left">
				<a href="javascript:history.go(-1);">
					<i class="icon iconfont icon-fanhui x5" style="margin-left: 5px;color:#666;">
          	</i>
				</a>
			</div>
			<div class="center">
				<span style="font-size:16px;color:#666;">
       		灯光选择
          </span>
			</div>
		</header>
		<div style="margin-top: 60px;">
			<img width="300" height="300"  th:src="@{/resources/ald/img/color_range.png}" id="myimg" style="display:none" alt="range"/>
		</div>
        
        <div style="width:300px; height:300px; position:relative; text-align:center; margin:auto; margin-top:0px; margin-bottom:20px;" id="colorRange">    
        <canvas id="mycanvas" width="300" height="300">
            你的浏览器不支持html5 Canvas元素。
        </canvas>
        <img width="30" height="30" th:src="@{/resources/ald/img/color_picker.png}"  id="picker" style="position:absolute; top:135px; left:135px;" alt="picker" />
        <div style="text-align: center;color:#ccc;font-size: 0.8rem;margin-top: 10px;">点击选择自己喜欢的灯光颜色</div>
        </div>
		<div class="light_deg">
			<div class="weui-slider-box">
				<div><i class="icon iconfont icon-dengguang-jian x3" style="color:#FD9E44;"></i></div>
				<div class="weui-slider">
					<div id="sliderInner" class="weui-slider__inner">
						<div id="sliderTrack" style="width: 39%;" class="weui-slider__track"></div>
						<div id="sliderHandler" style="left: 39%;" class="weui-slider__handler"></div>
					</div>
				</div>
				<div><i class="icon iconfont icon-juguangdeng x3" style="color:#FD9E44;"></i></div>
			</div>
		</div>
         <input type="hidden" id="lightbrightness" name="lightbrightness" th:value="(${user.lightbrightness}==null)?'0':${user.lightbrightness}">
	    <script src="/resources/ald/js/zepto.min.js"  th:src="@{/resources/ald/js/zepto.min.js}"></script>
	   
		<script src="js/weui.min.js" th:src="@{/resources/ald/js/weui.min.js}"></script>
		<script type="text/javascript" th:inline="javascript">
            //灯光颜色调色盘
        var RadiusRange = 150;
		var RadiusPicker = 15;
		var offsetX = window.screen.width / 2 - RadiusRange;
		var offsetY = 60;
		var centerX = offsetX + RadiusRange;
		var centerY = offsetY + RadiusRange;
		
		var colorRange = $('#colorRange')[0];
		var colorPicker = $('#picker')[0];
        var myCanvas = $('#mycanvas')[0];
        var myImg = $('#myimg')[0];
        var ctx = myCanvas.getContext('2d');
        myImg.onload = function(){ctx.drawImage(myImg, 0, 0);}
        
        colorRange.addEventListener('touchstart', touch, false);	//监听touchstart事件
        colorRange.addEventListener('touchmove', touch, false);		//监听touchmove事件
        function touch(e)
        {
         	var X = e.touches[0].clientX;
			var Y = e.touches[0].clientY;
			var x = X - centerX;
			var y = Y - centerY;
            if(Math.sqrt(x*x + y*y) < RadiusRange-5)
			{
				colorPicker.style.left = X - offsetX - RadiusPicker +'px';
				colorPicker.style.top = Y - offsetY - RadiusPicker +'px';
				
				var rgba = ctx.getImageData(X-offsetX, Y-offsetY, 1, 1).data;
				var red = rgba['0'];
				var green = rgba['1'];
				var blue = rgba['2'];
				//以下为异步的ajax提交颜色值 （rgb, 0-255 的元素组，如：[255,255,0]）
				//$.post('/rgb', {red: red, green: green, blue: blue});
				 /*未选中*/ 
		        var href= [[@{/api/develop/home/setLightInstruction.do}]];
		        href = href ;
		        //alert("href===" + href);
		        
		          $.post(href,{red: red, green: green, blue: blue},function(result){
                    //alert(result)
                  });
		          
	
			}  
			
			//阻止事件上抛给浏览器
			event.preventDefault(); 
        }
			//灯光强度
			$(function() {
				var currentvalue= $("#lightbrightness").val();
				var $sliderTrack = $('#sliderTrack'),
					$sliderHandler = $('#sliderHandler'),
					$sliderValue = $('#sliderValue');

				var totalLen = $('#sliderInner').width(),
					startLeft = 0,
					startX = 0;

				$sliderTrack.css('width', currentvalue + '%');
				$sliderHandler.css('left', currentvalue + '%');
				$sliderValue.text(currentvalue);
				
				
				$sliderHandler
					.on('touchstart', function(e) {
						
						startLeft = parseInt($sliderHandler.css('left')) * totalLen / 100;
						startX = e.changedTouches[0].clientX;
					})
					.on('touchmove', function(e) {
						var dist = startLeft + e.changedTouches[0].clientX - startX,
							percent;
						dist = dist < 0 ? 0 : dist > totalLen ? totalLen : dist;
						percent = parseInt(dist / totalLen * 100);
						$sliderTrack.css('width', percent + '%');
						$sliderHandler.css('left', percent + '%');
						$sliderValue.text(percent);
                        
						e.preventDefault();
						
						 var href= [[@{/api/develop/home/setLightbrightness.do}]];
					        href = href ;
					        
					        $.post(href,{brightness:percent},function(result){
			                    //alert(result);
			                  });
					        //alert("href===" + href);
					       
					});
			});
		</script>
	</body>
</html>