<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
		<meta name="keywords" content="">
		<meta name="description" content="">
		<title>歌曲模式-阿拉丁神灯</title>
		
		<link href="resources/ald/css/weui.css" th:href="@{/resources/ald/css/weui.css}"  rel="stylesheet">
        <link href="resources/ald/font/iconfont.css" th:href="@{/resources/ald/font/iconfont.css}"  rel="stylesheet">
        <link href="resources/ald/css/style.css?v=14645" th:href="@{/resources/ald/css/style.css?v=14645}" rel="stylesheet">
        <script src="/resources/ald/js/jquery.min.js" th:src="@{/resources/ald/js/jquery.min.js}"></script>
        <script src="/resources/ald/js/bootstrap.min.js" th:src="@{/resources/ald/js/bootstrap.min.js}"></script>
	</head>
	<style>
		
	</style>
	<body>
		<header style="background-color: #FD9E44; color:#fff;">
			<div class="left">
				<a href="javascript:history.go(-1);">
					<i class="icon iconfont icon-fanhui x5" style="margin-left: 5px;">
          	        </i>
				</a>
			</div>
			<div class="center">
				<span style="font-size:16px;">
       		    歌曲播放
                </span>
			</div>
			<div class="right">
			    <a  id="showIOSActionSheet">
					<i class="icon iconfont icon-mulu_ x5" style="color:#fff;">
          	        </i>
				</a>
			</div>
		</header>
  <div class="publish-nav-group">
    <a class="publish-nav-item  active" href="" style="color:#FD9E44;">
        热门播放
    </a>
    <a class="publish-nav-item " href="" style="color:#999999;">
        最新歌曲
    </a>
    <a class="publish-nav-item " href="" style="color:#999999;">
        我的收藏
    </a>
    <div class="clearfix"></div>
  </div>
  
  <ul th:each="obj,objSta:${musics}">
  	<!--循环展示-->
  	<li class="topic-list">  
  		<div class=" gz_list">
  	      <div class="list_pic">
             <a href="" >
             <img class="userlogo" src="img/1.jpg"  th:src="@{${obj.imgurl}}" alt="">                                     
             </a>
          </div>
          <div class="item_list">  
            <a href="">
            <div class="head-title" th:text="${obj.title}">
            小燕子
            </div>
            <div class="playcount">
            <i class="icon iconfont icon-iconfont"></i>  <span th:text=@{'播放'+${obj.playtimes}+'次'}>播放 23156次 </span>
            </div> 
           </a>            
          </div> 
          <div class="btn_item">
          	<a href="" style="color:#666;">
          		<i class="icon iconfont icon-shoucang x4"></i>
          	</a>
          	<a href="javascript:void(0)"    style="color:#666;margin-left: 15px;">
          		<i class="icon iconfont icon-bofang1 x4" th:id="${obj.id}" th:name="${obj.title}" onclick="bofang(this)"></i>
          	</a>
          </div>
  		</div>
  	</li>
  	
  </ul>
  <div class="now_song">	  
  	<div class="nowstatus">
  	    <input type="hidden" id="currentmusicid" th:value="(${user.music}==null)? '' : ${user.music.id}"/>
  	     <input type="hidden" id="currentuserid" th:value="${user.id}"/>
       <i class="icon iconfont icon-shunxuxunhuan x3"></i><span style="padding-left: 10px; font-size: 0.8rem;" id="currentbofang" th:text="'正在播放: '+${user.mtitle}">正在播放: 我有一只小毛驴</span>         		 	   
  	</div> 
  	<div class="dostatus">
  	   <a href="javascript:void(0)" style="color:#fff;"><i id="controler" th:class="(${user.musicstatus}=='0')?'icon iconfont x3 icon-bofang1':'icon iconfont x3 icon-zanting'" onclick="changeStatus(this)"></i></a>
  	</div>
  </div>
<!--播放模式的底部弹出菜单-->
		<div>
        <div class="weui-mask" id="songMask" style="display: none;"></div>
        <div class="weui-actionsheet" id="songActionsheet">
            <div class="weui-actionsheet__title">
                <p class="weui-actionsheet__title-text">选择播放模式</p>
            </div>
            <div class="weui-actionsheet__menu" style="color:#666;">
                <div class="weui-actionsheet__cell" id="orderstyle">顺序播放</div>
                <div class="weui-actionsheet__cell" id="randomstyle">随机播放</div>
                <div class="weui-actionsheet__cell" id="singlestyle">单曲循环</div>
            </div>
            <div class="weui-actionsheet__action"  style="color:#999;">
                <div class="weui-actionsheet__cell" id="songActionsheetCancel">取消</div>
            </div>
        </div>
       </div>
        <script src="/resources/ald/js/zepto.min.js"  th:src="@{/resources/ald/js/zepto.min.js}"></script>
        <script src="js/weui.min.js" th:src="@{/resources/ald/js/weui.min.js}"></script>
        <script type="text/javascript" th:inline="javascript">
      $(function(){
    	 setInterval("getCurrentMusic()",2000);
        var $songActionsheet = $('#songActionsheet');
        var $songMask = $('#songMask');
    
        function hideActionSheet() {
            $songActionsheet.removeClass('weui-actionsheet_toggle');
            $songMask.fadeOut(200);
            
        }
        //点击选项
        //设置顺序播放模式
        $('#orderstyle').on('click', function(e){
        	//设置播放模式
  		     var href= [[@{/api/develop/home/setMusicStatus.do}]];
  		     href = href + "?telephone="+[[${user.telephone}]]+"&status=1";
  		        //alert("href===" + href);
  		     $.ajax({ 
  		            url: href, 
  		            context: document.body, 
  		            type : "POST", 
  		            dataType:"text",
  		            contentType:'application/json;charset=UTF-8',
  		            success: function(resultData){

  		            },
  		            error:function(xhr,status,error){
  		                    //alert("操作失败！异常：error=" + error);
  		            }
  		        });
  		   hideActionSheet();
        });
        
        //设置 随机播放模式
        $('#randomstyle').on('click',function(e){
           	//设置播放模式
 		     var href= [[@{/api/develop/home/setMusicStatus.do}]];
 		     href = href + "?telephone="+[[${user.telephone}]]+"&status=2";
 		        //alert("href===" + href);
 		     $.ajax({ 
 		            url: href, 
 		            context: document.body, 
 		            type : "POST", 
 		            dataType:"text",
 		            contentType:'application/json;charset=UTF-8',
 		            success: function(resultData){

 		            },
 		            error:function(xhr,status,error){
 		                    //alert("操作失败！异常：error=" + error);
 		            }
 		        });
 		    hideActionSheet();
        });
        
        //设置单曲播放模式
        $('#singlestyle').on('click', function(e){
           	//设置播放模式
		     var href= [[@{/api/develop/home/setMusicStatus.do}]];
		     href = href + "?telephone="+[[${user.telephone}]]+"&status=3";
		        //alert("href===" + href);
		     $.ajax({ 
		            url: href, 
		            context: document.body, 
		            type : "POST", 
		            dataType:"text",
		            contentType:'application/json;charset=UTF-8',
		            success: function(resultData){

		            },
		            error:function(xhr,status,error){
		                    //alert("操作失败！异常：error=" + error);
		            }
		        });
		     hideActionSheet();
        }    
        );

        $songMask.on('click', hideActionSheet);
        $('#songActionsheetCancel').on('click', hideActionSheet);
        $("#showIOSActionSheet").on("click", function(){
            $songActionsheet.addClass('weui-actionsheet_toggle');
            $songMask.fadeIn(200);
        });
       });
       
       //选项卡片的js
    $(function(){
        $('.weui-navbar__item').on('click', function () {
            $(this).addClass('weui-bar__item_on').siblings('.weui-bar__item_on').removeClass('weui-bar__item_on');
        });
    });
    
       //点击比方按钮
    function bofang(obj){
        var id = obj.id;
        var name = $(obj).attr("name");
      
        
		 /*未选中*/ 
        var href= [[@{/api/develop/home/setMusic.do}]];
        href = href + "?telephone="+[[${user.telephone}]]+"&status=0&musicId="+id;
        //alert("href===" + href);
        $.ajax({ 
            url: href, 
            context: document.body, 
            type : "POST", 
            dataType:"text",
            contentType:'application/json;charset=UTF-8',
            data : {
                    "telephone" : [[${user.telephone}]],
                    "type":"1",
                    "lightId":$("#"+id+"hidden").val()
            },
            success: function(resultData){
                //alert(resultData);
            	  $("#currentbofang").html('正在播放: '+name);
                  $("#currentmusicid").val(id);
                  $("#controler").removeClass("icon-zanting");
                  $("#controler").addClass("icon-bofang1");

            },
            error:function(xhr,status,error){
                    //alert("操作失败！异常：error=" + error);
            }
        });
    }
       
     function changeStatus(obj){
    	 var id = $("#currentmusicid").val();
    	 if($(obj).hasClass("icon-zanting")) {
				$(obj).removeClass("icon-zanting");
				$(obj).addClass("icon-bofang1");
			
				 /*未选中*/ 
		        var href= [[@{/api/develop/home/setMusic.do}]];
		        href = href + "?telephone="+[[${user.telephone}]]+"&status=0&musicId="+id;
		        //alert("href===" + href);
		        $.ajax({ 
		            url: href, 
		            context: document.body, 
		            type : "POST", 
		            dataType:"text",
		            contentType:'application/json;charset=UTF-8',
		            data : {
		                    "telephone" : [[${user.telephone}]],
		                    "type":"1",
		                    "lightId":$("#"+id+"hidden").val()
		            },
		            success: function(resultData){

		            },
		            error:function(xhr,status,error){
		                    //alert("操作失败！异常：error=" + error);
		            }
		        });
		}else{
			$(obj).removeClass("icon-bofang1");
			$(obj).addClass("icon-zanting");
			 /*未选中*/ 
	        var href= [[@{/api/develop/home/setMusic.do}]];
	        href = href + "?telephone="+[[${user.telephone}]]+"&status=1&musicId="+id;
	        //alert("href===" + href);
	        $.ajax({ 
	            url: href, 
	            context: document.body, 
	            type : "POST", 
	            dataType:"text",
	            contentType:'application/json;charset=UTF-8',
	            data : {
	                    "telephone" : [[${user.telephone}]],
	                    "type":"1",
	                    "lightId":$("#"+id+"hidden").val()
	            },
	            success: function(resultData){
                   $("#currentmusicid").val();
	            },
	            error:function(xhr,status,error){
	                    //alert("操作失败！异常：error=" + error);
	            }
	        });
			
		}
     }
     
     
     function getCurrentMusic(){
    	 /*未选中*/ 
	        var href= [[@{/api/develop/home/getCurrentMusic.do}]];
	        href = href;
	        //alert("href===" + href);
	        $.ajax({ 
	            url: href, 
	            context: document.body, 
	            type : "POST", 
	            dataType:"text",
	            contentType:'application/json;charset=UTF-8',
	            success: function(resultData){
	            	  var result = JSON.parse(resultData);
                      $("#currentmusicid").val(result.id);
                      $("#currentbofang").html("正在播放:"+result.title);
	            },
	            error:function(xhr,status,error){
	                    //alert("操作失败！异常：error=" + error);
	            }
	        });
     }

       </script>
	</body>
</html>
