<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8" />
		<title>灯光播放历史---查看</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- basic styles -->
		<link th:href="@{/resources/bootstrap-3.3.2/css/bootstrap.min.css}" rel="stylesheet" />
		<link th:href="@{/resources/font-awesome/3.2.1/css/font-awesome.min.css}" rel="stylesheet" />
		<link th:href="@{/resources/font-awesome/4.2.0/css/font-awesome.min.css}" rel="stylesheet" />
		<!-- page specific plugin styles -->
		<link th:href="@{/resources/ace/css/ace.min.css}" rel="stylesheet" />
		<link th:href="@{/resources/jsoil/css/wiwi-jsoil.css}" rel="stylesheet" />
	</head>

	<body style="background-color: white;">
		<!-- PAGE CONTENT BEGINS -->
		<div class="row page-content">
			<div class="col-xs-12 tabbable">
				<div class="tab-content">
					<div class="tab-pane in active">
						<form action="#" class="form-horizontal" role="form">
							<input type="hidden"  th:field="${instance.id}"/>
							<div class='form-group'>
								<label class='col-sm-3 control-label no-padding-right'> id </label>
								<div class='col-sm-9'>
									<input type='text' th:field='${instance.id}' placeholder='id' class='col-xs-10 col-sm-5' />
								</div>
							</div>
							<div class='form-group'>
								<label class='col-sm-3 control-label no-padding-right'> 操作指令 </label>
								<div class='col-sm-9'>
									<input type='text' th:field='${instance.instructions}' placeholder='操作指令' class='col-xs-10 col-sm-5' />
								</div>
							</div>
							<div class='form-group'>
								<label class='col-sm-3 control-label no-padding-right'> 创建时间 </label>
								<div class='col-sm-9'>
									<input type='text' th:field='${instance.createDate}' placeholder='创建时间' class='col-xs-10 col-sm-5' />
								</div>
							</div>
							<div class='form-group'>
								<label class='col-sm-3 control-label no-padding-right'> 标题 </label>
								<div class='col-sm-9'>
									<input type='text' th:field='${instance.title}' placeholder='标题' class='col-xs-10 col-sm-5' />
								</div>
							</div>
							<div class='form-group'>
								<label class='col-sm-3 control-label no-padding-right'> 描述 </label>
								<div class='col-sm-9'>
									<input type='text' th:field='${instance.describle}' placeholder='描述' class='col-xs-10 col-sm-5' />
								</div>
							</div>
							<div class='form-group'>
								<label class='col-sm-3 control-label no-padding-right'> 创建用户id </label>
								<div class='col-sm-9'>
									<input type='text' th:field='${instance.usercode}' placeholder='创建用户id' class='col-xs-10 col-sm-5' />
								</div>
							</div>
							<div class='form-group'>
								<label class='col-sm-3 control-label no-padding-right'> 状态：1、公共模式  2、 私有模式 </label>
								<div class='col-sm-9'>
									<input type='text' th:field='${instance.status}' placeholder='状态：1、公共模式  2、 私有模式' class='col-xs-10 col-sm-5' />
								</div>
							</div>
							
						</form>
					</div>
				</div>
			</div><!-- /.col -->
		</div><!-- /.row -->
	
		<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
			<i class="icon-double-angle-up icon-only bigger-110"></i>
		</a>
	</body>
</html>
