<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8" />
		<title>音乐管理---修改</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- basic styles -->
		<link th:href="@{/resources/bootstrap-3.3.2/css/bootstrap.min.css}" rel="stylesheet" />
		<link th:href="@{/resources/font-awesome/3.2.1/css/font-awesome.min.css}" rel="stylesheet" />
		<link th:href="@{/resources/font-awesome/4.2.0/css/font-awesome.min.css}" rel="stylesheet" />
		<!-- page specific plugin styles -->
		<link th:href="@{/resources/ace/css/ace.min.css}" rel="stylesheet" />
		<link th:href="@{/resources/jsoil/css/wiwi-jsoil.css}" rel="stylesheet" />
		
		<script th:src="@{/resources/js/jquery-2.0.3.min.js}"></script>
		<script th:src="@{/resources/ace/js/ace-extra.min.js}"></script>
		
		      <!-- choose -->
        <script th:src="@{/resources/ace/js/chosen.jquery.min.js}"></script>
        <!-- meitu scripts -->
        <script th:src="@{/resources/meiTu/js/layer/layer.min.js}"></script>
        <script th:src="@{/resources/meiTu/js/meiTu.js}"></script>
        <script th:src="@{/resources/meiTu/js/meiTuInit.js}"></script>
	</head>

	<body style="background-color: white;">
		<!-- PAGE CONTENT BEGINS -->
		<div class="row page-content">
			<div class="col-xs-12 tabbable">
				<ul th:include="thymeleaf/fragment :: topTab('edit','音乐管理','/develop/music/')" class="nav nav-tabs padding-12 tab-color-blue background-blue" id="myTab" ></ul>
				<div class="tab-content">
					<div class="tab-pane in active">
						<form id="validation-form"  action="#" th:action="@{/develop/music/editAction.do}" th:object="${instance}" class="form-horizontal" role="form" method="post"  enctype="multipart/form-data">
							<input type="hidden"  th:field="${instance.id}"/>
							<div class='form-group'>
                                <label class='col-sm-3 control-label no-padding-right'> 标题 </label>
                                <div class='col-sm-9'>
                                    <input type='text' th:field='${instance.title}' placeholder='标题' class='col-xs-10 col-sm-5' />
                                </div>
                            </div>
                            <div class='form-group'>
                                <label class='col-sm-3 control-label no-padding-right'> 描述 </label>
                                <div class='col-sm-9'>
                                    <input type='text' th:field='${instance.describle}' placeholder='描述' class='col-xs-10 col-sm-5' />
                                </div>
                            </div>
                            <div class='form-group'>
                                <label class='col-sm-3 control-label no-padding-right'> 预览图 </label>
                                <div class='col-sm-9' th:include="thymeleaf/meituFragment :: meiTuImgUpload('','music/logo')">
                                </div>
                            </div>
                             <div class='form-group'>
                                <label class='col-sm-3 control-label no-padding-right'> 音乐文件 </label>
                                <div class='col-sm-9'>
                                    <a target="_blank" th:if="${musicFile}" th:href="@{${musicFile.resPath}}">
                                    <span th:text="${musicFile.resPath}">下载</span>
                                    <i class="icon-download-alt bigger-125 blue"></i>
                                    </a>
                                    <input type="file" name="resourceFile" id="resourceFile" style="width:60%;" />
                                </div>
                            </div>
					
							
							<div class="clearfix form-actions">
								<div class="col-md-offset-3 col-md-9">
									<button class="btn btn-info" type="submit">
										<i class="icon-ok bigger-110"></i>
										提交
									</button>
	
									<button class="btn" type="reset">
										<i class="icon-undo bigger-110"></i>
										重置
									</button>
									
									<a th:href="@{/develop/music/list.do}" class="btn btn-prev">
										<i class="icon-arrow-left"></i>
										返回
									</a>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div><!-- /.col -->
		</div><!-- /.row -->
	
		<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
			<i class="icon-double-angle-up icon-only bigger-110"></i>
		</a>

		<!-- basic scripts -->
		<script th:src="@{/resources/bootstrap-3.3.2/js/bootstrap.min.js}"></script>
		<script th:src="@{/resources/js/jquery.validate.min.js}"></script>
		<script th:src="@{/resources/js/jquery.messages_zh.js}"></script>
		<script th:inline="javascript">
		/*<![CDATA[*/
		 jQuery(function($) {
			 $("#validation-form").validate({
		        rules: {

		        }
			});
          $('#resourceFile').ace_file_input({
                style:'well',
                btn_choose:'直接把文件拖到这里或者点击选择文件',
                btn_change:null,
                no_icon:'icon-cloud-upload',
                droppable:true,
                thumbnail:'small'//large | fit
                //,icon_remove:null//set null, to hide remove/reset button
                /**,before_change:function(files, dropped) {
                    //Check an example below
                    //or examples/file-upload.html
                    return true;
                }*/
                /**,before_remove : function() {
                    return true;
                }*/
                ,
                preview_error : function(filename, error_code) {
                    //name of the file that failed
                    //error_code values
                    //1 = 'FILE_LOAD_FAILED',
                    //2 = 'IMAGE_LOAD_FAILED',
                    //3 = 'THUMBNAIL_FAILED'
                    //alert(error_code);
                }
        
            }).on('change', function(){
                //console.log($(this).data('ace_input_files'));
                //console.log($(this).data('ace_input_method'));
            });
		/*]]>*/
		</script>
	</body>
</html>
